<section>
  <div class="masthead">
    <div class="container">
      <div class="row">
        <div class="col-12  text-center">
          <h1 class="ipt-title"><b> Welcome to FoodZone!</b></h1>
            <h3>You don’t need a silver fork to eat good food </h3>
        </div>
      </div>
    </div>
    <div class="float-right">
      <i class="fa fa-arrow-up " onclick="topFunction()" id="mybtn" style="cursor: pointer;"></i>
    </div>
  </div>
</section>
<!-- Second section -->
<section>
    <!-- Topic Cards -->
    <div id="cards_landscape_wrap-2">
        <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                              <img src="assets/img/1.jpg" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>Breakfast</h6>
                                <i class="fas fa-user"></i>
                                <p> Order to your first meal Bcoz All happiness depends on breakfast.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="assets/img/8.jpg" alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Order Online</h6>
                                    <p>Stay home and order to your doorstep.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                  <img src="assets/img/8.jpg" alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Dining</h6>
                                    <p>View the city's favourite dining venues.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                  <img src="assets/img/8.jpg" alt="" />
                                </div>

                                <div class="text-container">
                                    <h6>Nightlife and Clubs</h6>
                                    <p>Explore the city’s top nightlife outlets</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- End -->
<!-- <app-famous-food></app-famous-food> -->
<app-food-collection></app-food-collection>
<section class="mb-5"></section>


