.temple_puja_box .service_img img {
  box-shadow: 0 10px 27px -4px!important;
    min-height: 250px;
    max-height: 250px;
    object-fit: cover;
}
.img-responsive {
  width: 100%;
  height: auto;
  display: inline-block;
}

.collection{
  text-align: center;
    background: #F7F7F7;
}
